services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    platform: linux/arm64
    restart: unless-stopped
    env_file:
      - ../.env
    command: >
      tunnel --config /cloudflared/config.yml run
    volumes:
      - ../cf/config.yml:/cloudflared/config.yml:ro
      - ../secrets:/etc/cloudflared:ro
    cpus: "0.5"                 # hard CPU cap = 1 core
    mem_limit: "200m"             # hard memory limit